/* components/Header.css */

.header {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #cac6c6;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fffdfd;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #dcd8d8;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn-primary,
.btn-outline {
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary {
  background-color: #fefefe;
  color: #000000;
  border: none;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #cfcece;
}

.btn-outline:hover {
  background-color: #cfcece;
  color: #000000;
}


.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.user-avatar-home {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.user-name {
  font-size: 0.9rem;
}

.auth-section {
  display: flex;
  align-items: center;
}
